body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, var(--clr-p) 20%, var(--clr-bg) 20%);
}

h1 {
  max-width: 80%;
  color: var(--clr-txt);
}

p {
  margin-inline-start: 82%;
  color: var(--clr-txt);
  font-size: calc(var(--fs-xl) / 2);
}
