package templates

import "github.com/ljmcclean/shell-hacks-2024/templates/components"

templ Dashboard(userName string) {
	@components.Document() {
		@components.Head("Dashboard") {
		}
		<h1>Welcome, { userName }</h1>
	}
}
