package templates
templ GroupRoute(distance, duration string)
{
    @components.Document() {
        @components.Head("Your Group's Route") {
            <link rel="stylesheet" href="/assets/css/groupRoute.css"/>
        }
        <body>
        </body>
    }
}