package templates

import "github.com/ljmcclean/shell-hacks-2024/templates/components"

templ Index() {
@components.Document() {
@components.Head("Hello, World!") {
<script src="/static/htmx.min.js" defer></script>
}

<body>
	<h1>Index</h1>
	<a href="/login">Log In</a>
</body>
}
}
