package templates

import "github.com/ljmcclean/shell-hacks-2024/templates/components"

templ SingleRoute() {
	@components.Document() {
		@components.Head("Your Route") {
			<link rel="stylesheet" href="/assets/css/singleRoute.css"/>
			<script src="/static/htmx.min.js" defer></script>
		}
		<body>
			<form hx-post="/map" hx-target="#render">
				<input name="end" placeholder="End location"/>
				<input name="start" placeholder="Start location"/>
				<button>Go</button>
			</form>
			@components.MapSection("", "")
		</body>
	}
}
